{% extends 'base.html' %}
{% load cache %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
  <h1>{{ module.title }}</h1>
  <div class="contents">
    <h3>Модули</h3>
    <ul id="module">
      {% for m in object.modules.all %}
        <li data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
          <a href="{% url 'student_course_detail_module' object.id m.id %}">
            <span>Модуль номер <span class="order">{{ m.order|add:1 }}</span></span>
            <br />
            {{ m.title }}
          </a>
        </li>
      {% empty %}
        <li>Модулей пока нет.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="module">
    {% cache 600 module_contents module %}  <!-- имя module_content объекта module
      {% for content in module.contents.all %}  <!-- перебираем весь контент выбранного модуля -->
        {% with item=content.item %}  <!-- item=Тип контента -->
          <h2><i>{{ item.title }}</i></h2>
          {{ item.render }}  <!-- рендерится сам контент (def render) -->
        {% endwith %}
      {% endfor %}
    {% endcache %}
  </div>
{% endblock %}