{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Educa{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a href="/" class="logo">Educa</a>
    <ul class="menu">
      <li style="float: left; margin-right: 10px; margin-top: 5px;"><a href="{% url 'student_course_list' %}">Мои курсы</a></li>
      {% if request.user.is_authenticated %}  <!-- объект User. Встроено через middleware -->
        <li style="float: right; margin-top: 5px;"><a href="{% url 'logout' %}">Выйти</a></li>
      {% else %}
        <li style="float: right; margin-top: 5px;"><a href="{% url 'login' %}">Войти</a></li>
      {% endif %}
    </ul>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  {% block include_js %}  <!-- чтобы вставлять файлы JavaScript в любой дочерний шаблон -->
  {% endblock %}
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      {% block domready %}
      {% endblock %}
    })
  </script>
</body>
</html>